.topbar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mycarousel a span {
  text-decoration: none;
  margin-right: 200px;
}

#mycarousel h1 {
  font-size: 50pt;
  margin-bottom: 50px;
  color: #17A2B8;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mycarousel p {
  font-size: 15pt;
  color: yellow;
}

#mycarousel a {
  font-size: 15pt;
  border-radius: 50px;
}

#about h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#about .row h1 {
  color: green;
  margin-top: 15px;
  font-size: 35pt;
}

#about .row p {
  margin-left: 100px;
  font-size: larger;
}

#Service {
  background-color: #faf8f8;
}

#Service h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#Service .icon i {
  font-size: 30px;
  color: #FE665D;
  background-color: #fe655d23;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

#Service .text-area h4 {
  font-size: 22px;
}

#Service h5 {
  font-size: 15px;
  letter-spacing: 3px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-weight: 650;
}

#Service .booking-form {
  background-color: #fff;
}

#Service .booking-form form .book-form {
  margin-bottom: 10px;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
  font-size: 15px;
}

#Health img {
  height: 400px;
  width: 100%;
}

#Health h1 {
  font-size: 35pt;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Health p {
  color: white;
  font-size: 15pt;
}

#Health a {
  border-radius: 50px;
  margin-top: 20px;
}

#Health a:hover {
  color: black;
  background: white;
}

#Doctors h1 {
  font-weight: bold;
}

#Doctors .card {
  position: relative;
}

#Doctors .overlay {
  position: absolute;
  background: blue;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

#Doctors .text-area {
  position: absolute;
  opacity: 0;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  font-size: 15pt;
  text-decoration: none;
  color: #fff;
  margin: 20px 20px;
}

#Doctors .text-area .icons {
  -webkit-transform: translate(50px, 10px);
          transform: translate(50px, 10px);
}

#Doctors .text-area .icons i {
  border: 1px solid #fff;
  padding: 3px;
}

#Doctors .text-area .text {
  -webkit-transform: translate(50px, 50px);
          transform: translate(50px, 50px);
}

#Doctors .text-area .text h6 {
  margin: 0;
}

#Doctors .text-area .text p {
  font-size: 15px;
}

#Doctors .card:hover .overlay {
  opacity: .5;
}

#Doctors .card:hover .text-area {
  opacity: 1;
}

#every .card {
  border: none;
  overflow: hidden;
}

#every .card .img-area {
  overflow: hidden;
}

#every .card .img-area img {
  -webkit-transition: .5s  ease-in-out;
  transition: .5s  ease-in-out;
}

#every .card a {
  text-decoration: none;
  color: black;
}

#every .card p {
  color: #aaa4a4;
}

#every .card:hover img {
  -webkit-transform: scale(1.4) !important;
          transform: scale(1.4) !important;
}

#contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 84, 230, 0.7))), url(../image/bannar/bg_3.jpg);
  background: linear-gradient(rgba(58, 84, 230, 0.7) rgba(58, 84, 230, 0.7)), url(../image/bannar/bg_3.jpg);
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 245, 245, 0.7))), url(../image/img/img.jpg);
  background: linear-gradient(rgba(247, 245, 245, 0.7) rgba(245, 240, 240, 0.7)), url(../image/img/img.jpg);
  width: 100%;
  height: 30%;
}

footer .footer-bottom .col-md-8 {
  color: blue;
}
/*# sourceMappingURL=style.css.map */